/* START General stuff */

html, body{
	font-family: advent-pro, sans-serif;
	font-size: 12pt;
	color: #333;
}

*{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;

}

.character, .charListContainer, .charListContainer *, .characterInfo, .characterInfo *{
	visibility: visible;
}

input{
	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.characterList a img{
	display: none;
}

.inlineBlock{
	display: inline-block;
	vertical-align: middle;
}

.floatRight{
	float: right;
}

button{
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	color: inherit;
	font-weight: bold;
}

h1{
	margin: 0 0 3px;
	border-bottom: 2px solid #666;
	text-align: left;
}

h2{
	margin: 0;
}

img.die{
	height: 16px;
	margin: auto 3px;
}

/* END general stuff */



header{
	position: relative;
}

.editButtons{
	font-size: 18pt;
	color: #eee;
	margin: 0;
	position: absolute;
	right: 10px;
	bottom: -45px;
	display: none;
}

.editButtons button{
	border-radius: 6px;
	padding: 5px;
	box-shadow: 0 -1px 0 0 rgba(0,0,0,0.6), 0 1px 1px 0 rgba(255,255,255,.5), 0 1px 0 0 rgba(255,255,255,.75) inset, 0 -1px 1px 0 rgba(0,0,0,0.8) inset;
	
}

.icon-pencil, .icon-ok, .icon-plus{
	background-color: #008800;
	color: #eee;
	border-radius: 2px;
}

.icon-cancel, .icon-minus{
	background-color: #880000;
	color: #eee;
	border-radius: 2px;
}


.statBox img.die{
	height: 24px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
	margin: 10px 0 0;
}

/* END general stuff */

/* START Character list bar */

.charListContainer {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0;
	background-color: #af0000;
	text-align: center;
	position: relative;
	background: #a90329; /* Old browsers */
	background: #8e021a; /* Old browsers */
	background: -moz-linear-gradient(top, #8e021a 0%, #a90329 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8e021a), color-stop(100%,#a90329)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #8e021a 0%,#a90329 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #8e021a 0%,#a90329 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #8e021a 0%,#a90329 100%); /* IE10+ */
	background: linear-gradient(to bottom, #8e021a 0%,#a90329 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e021a', endColorstr='#a90329',GradientType=0 ); /* IE6-9 */
	box-shadow: 0 1px 0 0 rgba(0,0,0,0.5), 0 2px 0 0 rgba(255,255,255,0.4);
	z-index: 100;
}


.characterList{
	width: 1280px;
	margin: 0 auto;	
	position: relative;

}


.characterList h2{
	position: absolute;
	left: 10px;
	top: 0;
	color: #eee;
	font-size: 2.4em;
}


.characterList button, .characterList a{
	padding:8px;
	border-radius: 3px;
	vertical-align: middle;
	margin: 5px;
	color: #eee;
	overflow: hidden;
	position: relative;
	background: #777777; /* Old browsers */
	background: -moz-linear-gradient(top, #777777 0%, #5e5e5e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#777777), color-stop(100%,#5e5e5e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #777777 0%,#5e5e5e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #777777 0%,#5e5e5e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #777777 0%,#5e5e5e 100%); /* IE10+ */
	background: linear-gradient(to bottom, #777777 0%,#5e5e5e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777777', endColorstr='#5e5e5e',GradientType=0 ); /* IE6-9 */
	box-shadow: 0 -1px 0 0 rgba(0,0,0,0.6), 0 1px 1px 0 rgba(255,255,255,.5), 0 1px 0 0 rgba(255,255,255,.75) inset, 0 -1px 1px 0 rgba(0,0,0,0.8) inset;
	text-shadow: 0 -1px 0 rgba(0,0,0,.75);
}

.characterList a.active{
	background: #FFC13C;
	color: #333;
	box-shadow: 0 -1px 0 0 rgba(0,0,0,0.6), 0 0 2px 1px rgba(255,255,255,.5), 0 0 4px 2px rgba(255,50,50,1), 0 1px 0 0 rgba(255,255,255,.75) inset, 0 -1px 1px 0 rgba(0,0,0,0.8) inset, 0 0 10px 1px #ff5d00 inset;
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}



.characters{
	display: inline-block;
	text-align: center;
}

@media only screen 
and (max-width : 1280px) {
	
	.characterList{
		width: 100%;
	}

	.characterList a{
		width: 5%;
	}

}

.characterList a img{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}


@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
	
	.characterList{
		font-size: .75em;
	}

	.characterList h2{
		display: none;
	}

}



@media only screen 
and (max-width : 320px) {

	.characterList a{
		width: 20px;
		height: 20px;
		vertical-align: middle;
	}

	.characterList span.characterName{
		
	}

	.characterList a{
		display: inline-block;
	}

	.characterList a img{
		display: block;
	}
}


/* END Character list bar */

/* START Character box */

.character{
	width: 1280px;
	margin: 0 auto;
}

@media only screen 
and (max-width : 1280px) {
	
	.character{
		width: 95%;
	}

}

@media only screen 
and (max-width : 320px) {
	
	.character{
		width: 100%;
	}

}


/* START Character info header thing */

.characterInfo{
	width: 100%;
	height: auto;
	background-color: rgba(0,0,0,0.75);
	border-radius: 0 0 20px 20px ;
	text-align: center;
	padding-bottom: 10px;
}

	
.characterInfo div.charName{
	display: none;
}

.infoBlock {
	width: 20%;
	color: #eee;
	margin: 10px;
	border-bottom: 1px solid #eee;
	text-align: left;
}


.infoBlock .fieldLabel {
	text-transform:uppercase;
}

.infoBlock .field{
	text-align: right;
	font-weight: bold;
	font-size: 1.8em;
	background-color: rgba(255,255,255,0.075);
}


@media only screen 
and (min-width : 768px) 
and (max-width : 1280px) {

	.infoBlock{
		width: 20%;
	}

}

@media only screen 
and (max-width : 1023px) {

	.infoBlock{
		width: 20%;
	}

	.infoBlock .fieldLabel {
		text-transform:uppercase;
		font-size: .75em;
	}

	.infoBlock .field{
		font-size: 1.3em;
	}

}

@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {

	.infoBlock{
		width: 40%;
	}

	
	.characterInfo div.charName{
		display: inline-block;
	}

}

@media only screen 
and (max-width : 320px) {

	.infoBlock{
		width: 90%;
	}

	
	.characterInfo div.charName{
		display: inline-block;
	}

}


/* START Character Badge */

.characterBadge{
	width: 400px;
	background: #efefef; /* Old browsers */
	background: -moz-linear-gradient(top, #efefef 0%, #cecece 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#cecece)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #efefef 0%,#cecece 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #efefef 0%,#cecece 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #efefef 0%,#cecece 100%); /* IE10+ */
	background: linear-gradient(to bottom, #efefef 0%,#cecece 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */
	overflow: hidden;
	transform:rotate(-1deg);
	-ms-transform:rotate(-1deg); /* IE 9 */
	-webkit-transform:rotate(-1deg); /* Safari and Chrome */
	box-shadow: 0 5px 20px 3px rgba(0,0,0,0.3), 0 -2px 1px 0 rgba(0,0,0,.25) inset;
}

.characterBadge .characterPortrait{
	width: 90%;
	margin-top: 5%;
}

.characterBadge h1{
	font-family: architects-daughter, sans-serif;
	border: 0;
	transform:rotate(-1deg);
	-ms-transform:rotate(-1deg); /* IE 9 */
	-webkit-transform:rotate(-1deg); /* Safari and Chrome */
	text-shadow: 0 0 2px rgba(0,0,0,0.25);
	padding: 5px;
	text-align: center;
	font-size: 2.4em;
}

@media only screen 
and (min-width : 768px) 
and (max-width : 1280px) {

	.characterBadge{
		width: 320px;
	}

}


@media only screen 
and (min-width : 480px) 
and (max-width : 1023px) {

	.characterBadge{
		width: 220px;
	}

	.characterBadge h1{
		font-size: 1.5em;
	}

}

@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
	
	.characterBadge{
		display: none;
	}

	.charName{
		display: inline-block;
	}

}


/* END Character info header thing

/* START Character Stats */

.characterStats{
	text-align: center;
}

.statBox{
	display: inline-block;
	width: 20%;
	background: #ccc;
	margin: 5px;
	border-radius: 10px;
	overflow: hidden;
	height: 80px;
	vertical-align: middle;
	position: relative;
}

.statRow{
	width: 100%;
	height: 60px;
	background-color: #ccc;
	position: relative;
}

.statSolo{
	width: 100%;

}

.statSolo .statValue{
	color: #333;
}

.statRow .statLeft, .statRow .statRight{
	width: 50%;
	position: relative;
	height: 100%;
}

.statRow>div{
	display: inline-block;
	color: #eee;
}

.solo .statBoxLabel{
	width: 100%;
}

.statRow .current{
	background-color: #006600;
}

.statRow .threshold{
	background-color: #660000;
}

.statRow .ranged{
	background-color: #d64a00;
}

.statRow .melee{
	background-color: #005da5;
}

.statRow.bottom{
	height: auto;
	position: absolute;
	bottom: 0;
	left: 0;
}

.statRow div.statLabel{
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	color: #333;
}

.statBoxLabel{
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	position: absolute;
	bottom: 0; 
	left: 0;
}

.statValue{
	font-size: 2em;
	font-weight: bold;
}

/* END Character Stats */

/* END Character box */